<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Document</title>
		<!-- <link rel="stylesheet" href="style.css"> -->
		<style>
			* {
				margin: 0;
				padding: 0;
			}
			h1 {
				text-align: center;
			}
			.main {
				border: 2px solid black;
				display: flex;
				justify-content: space-around;
			}

			.profile {
				border: 2px solid rgb(255, 0, 0);
                width: 50%;
			}

			.container {
				display: flex;
				/* flex-direction: row; */
				/* gap: 20px; */
				align-items: center;
                justify-content: space-evenly ;
                width: 100%;

			}
		
            .pic{
                float: left;
            }
       
            .attended{
                float: right;
            }
            
		</style>
	</head>
	<body>
		<h1>LeaderBoard</h1>

		<div class="main">
			<div class="profile">PROFILE</div>
			<div class="list">
				<% json.forEach((json)=> { %>
				<div class="container">
					<div class="pic">
						<img src="<%= json.pic %>" />
					</div>
					<div class="names"><%= json.name %></div>
					<div class="attended"><%= json.classes %></div>
					<!-- <div class="assignments"><%= json.assignment %></div> -->
				</div>
				<% }) %>
			</div>
		</div>
	</body>
</html>
